doctype html
html(lang="en")
  include ../components/headerfile
  +headerfile('Class schelude')
  body

    // loader start
    +loader
    // loader end

    // header start       
    include ../components/header
    // header end

    // Breadcrumb Start
    +breadcrumb('class schedule')
    // Breadcrumb end

    // schedule Start
    section.time-schedule.space-py-100
      .container
        .row         
          .col-12(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800")
            +timesedual
      ul.cdx-shap
        li
          img.img-fluid(src='../assets/images/shap/6.png' alt='')
    // schedule Start
       
    // footer start       
    include ../components/footer
    // footer end

    // theme customizer start
    +customizer
    // theme customizer end

    // Tap To Top Start
    a.scroll-top(href='Javascript:void(0)')
      i.fa.fa-angle-double-up
    // Tap To Top End

    include ../components/footerfile