doctype html
html(lang="en")
  include ../components/headerfile
  +headerfile('Forgot Password')
  body

    // loader start
    +loader
    // loader end

    // header start       
    include ../components/header
    // header end

    // Breadcrumb Start
    +breadcrumb('Forgot Password')
    // Breadcrumb end

    // authentication start
    section.space-py-100
      .container
        .row
          .col-12
            .codex-authbox
              .auth-header
                .codex-brand
                  a(href="index.html")
                    img.img-fluid.light-logo(src="../assets/images/logo/logo.png" alt="")
                    img.img-fluid.dark-logo(src="../assets/images/logo/logo-light.png" alt="")
                h3 forgot password ?                 
                p Enter Your Email And We&apos;ll Send You A Link To Reset 
                  br
                  |  Your Password.
              form(action="#")
                .group-form.mb-0
                  label.form-label email
                  input.form-control(type="password" placeholder="Enter your email")
                .group-form.mb-0                   
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-key
                    |  Send Reset Link
    // authentication end

       
    // footer start       
    include ../components/footer
    // footer end

    // theme customizer start
    +customizer
    // theme customizer end

    // Tap To Top Start
    a.scroll-top(href='Javascript:void(0)')
      i.fa.fa-angle-double-up
    // Tap To Top End

    include ../components/footerfile