doctype html
html(lang="en")
  include ../components/headerfile
  +headerfile('Gallery Detail')
  body

    // loader start
    +loader
    // loader end

    // header start       
    include ../components/header
    // header end

    // Breadcrumb Start
    +breadcrumb('Gallery Detail')
    // Breadcrumb end

    // gallery start
    section.space-py-100
      .container
        .row
          .col-xl-4.col-lg-4
            .gallery-sidebar
              .card
                .card-body
                  .blog-card
                    h5 Gallery Details
                    ul
                      li
                        | Gallery 
                        span Balance Body &amp; Mind
                      li
                        | Date 
                        span 29 Aug, 2022
                      li
                        | Client Name 
                        span Roger M Collins
                      li
                        | Training Cost 
                        span $1949.00
                      li
                        | Teacher: 
                        span Joseph Brehmer
                      li
                        | Total Duration: 
                        span 5 Month
                      li
                        | Location 
                        span New York, USA
                      li
                        | Website 
                        span example.com
                      li
                        | rating
                        ul.rating-list
                          li
                            a(href='Javascript:void(0)')
                              i.fa.fa-star
                          li
                            a(href='Javascript:void(0)')
                              i.fa.fa-star
                          li
                            a(href='Javascript:void(0)')
                              i.fa.fa-star
                          li
                            a(href='Javascript:void(0)')
                              i.fa.fa-star
                          li
                            a(href='Javascript:void(0)')
                              i.fa.fa-star
              .card
                .card-body.blog-card.gallery-project
                  h4 Need A Yoga Training?
                  a.btn.btn-primary(href='Javascript:void(0)')
                    | Get Started                   
          .col-xl-8.col-lg-8
            .gallery-details
              .card(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800")
                .card-body                 
                  .img-wrap
                    img.img-fluid(src='../assets/images/gallery/galleryone.jpg' alt='thumb')
                  h3 Balance Body &amp; Mind
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    | doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    | veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    | voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    | consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                    | porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    | velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                  p
                    | But I must explain to you how all this mistaken idea of denouncing pleasure and
                    | praising pain was born and I will give you a complete account of the system, and
                    | expound the actual teachings of the great explorer of the truth, the
                    | master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                    | itself, because it is pleasure, but because those who do not know how to pursue
                    | pleasure rationally encounter consequences that are extremely painful. Nor again
                    | is there anyone who loves or pursues or desires to obtain pain of itself,
                    | because it is pain, but because occasionally circumstances occur in which toil
                    | and pain can procure him some great pleasure. To take a trivial example
              .card(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800")
                .card-body     
                  .row.sub-detail
                    .col-md-6
                      div
                        img.img-fluid(src='../assets/images/gallery/1.jpg' alt='')
                    .col-md-6
                      div
                        img.img-fluid(src='../assets/images/gallery/5.jpg' alt='')
                  p
                    | Power of choice is untrammelled and when nothing prevents our being able to do
                    | what we like best, every pleasure is to be welcomed and every pain avoided. But
                    | in certain circumstances and owing to the claims of duty or the obligations of
                    | business it will frequently occur that pleasures have to be repudiated and
                    | annoyances accepted. The wise man therefore always holds in these matters to
                    | this principle of selection.
              .card(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800")
                .card-body                 
                  h3 Yoga Basic Tips
                  p
                    | Aliquam facilisis rhoncus nunc, non vestibulum mauris volutpat non.
                    | Vivamus tincidunt accumsan urna, vel aliquet nunc commodo tristique.
                    | Nulla facilisi. Phasellus vel ex nulla. Nunc tristique sapien id mauris
                    | efficitur, porta scelerisque nisl dignissim. Vestibulum ante ipsum
                    | primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed at
                    | mollis tellus. Proin consequat, orci nec bibendum viverra, ante orci
                    | suscipit dolor, et condimentum felis dolor ac lectus.
                  ul.gallery-list
                    li
                      i.fa.fa-check
                      | Fusce justo risus placerat in risus eget tincidunt consequat elit.
                    li
                      i.fa.fa-check
                      | Nunc fermentum sem sit amet dolor laoreet  placerat.
                    li
                      i.fa.fa-check
                      | Nullam rhoncus dictum diam quis ultrices.
                    li
                      i.fa.fa-check
                      | Integer quis lorem est uspendisse eu augue porta ullamcorper dictum.
                    li
                      i.fa.fa-check
                      | Quisque tristique neque arcu ut venenatis felis malesuada et.
              .card(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800") 
                .card-body
                  h3 Overview &amp; Challenge
                  p
                    | Quisque a nisl id sem sollicitudin volutpat. Cras et commodo quam, vel congue
                    | ligula. Orci varius natoque penatibus et magnis dis parturient montes,
                    | nascetur ridiculus mus. Cras quis venenatis neque. Donec volutpat tellus
                    | lobortis mi ornare eleifend. Fusce eu nisl ut diam ultricies accumsan.
                    | Integer lobortis vestibulum nunc id porta. Curabitur aliquam arcu sed ex
                    | dictum, a facilisis urna porttitor. Fusce et mattis nisl. Sed iaculis libero
                    | consequat justo auctor iaculis. Vestibulum sed ex et magna tristique
                    | bibendum. Sed hendrerit neque nec est suscipit, id faucibus dolor convallis.
    // gallery end

       
    // footer start       
    include ../components/footer
    // footer end

    // theme customizer start
    +customizer
    // theme customizer end

    // Tap To Top Start
    a.scroll-top(href='Javascript:void(0)')
      i.fa.fa-angle-double-up
    // Tap To Top End

    include ../components/footerfile