doctype html
html(lang="en")
  include ../components/headerfile
  +headerfile('Login')
  body

    // loader start
    +loader
    // loader end

    // header start       
    include ../components/header
    // header end

    // Breadcrumb Start
    +breadcrumb('login')
    // Breadcrumb end

    // Login Start
    section.space-py-100
      .container
        .row
          .col-12
            .codex-authbox
              .auth-header
                .codex-brand
                  a(href="index.html")
                    img.img-fluid.light-logo(src="../assets/images/logo/logo.png" alt="")
                    img.img-fluid.dark-logo(src="../assets/images/logo/logo-light.png" alt="")
                h3 welcome to Yogwe
                h6 don't have an account? 
                  a.text-primary(href="register.html") creat an account
              form(action="#")
                .form-group
                  label.form-label Email
                  input.form-control(type="text" required  placeholder="Enter Your Email")
                .form-group
                    label.form-label(for="Password") Password
                    .input-group.group-input
                      input.form-control.showhide-password(type='password' placeholder='Enter Your Password' required='')
                      span.input-group-text.toggle-show.fa.fa-eye
                .form-group.mb-0
                  .auth-remember                     
                    .form-check.custom-chek
                      input#agree.form-check-input(type='checkbox' value='' required='')
                      label.form-check-label(for='agree') Remember me
                    a.text-primary.f-pwd(href="forgot-password.html") Forgot your password?
                .form-group
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-sign-in
                    |  Login
              .auth-footer
                h5.auth-with Or login in with     
                ul.login-list
                  li
                    a.bg-fb(href="javascript:void(0);") 
                      img.img-fluid(src="../assets/images/auth/1.png" alt="facebook")
                      | facebook
                  li
                    a.bg-google(href="javascript:void(0);") 
                      img.img-fluid(src="../assets/images/auth/2.png" alt="google")
                      | google
    // Login End

       
    // footer start       
    include ../components/footer
    // footer end

    // theme customizer start
    +customizer
    // theme customizer end

    // Tap To Top Start
    a.scroll-top(href='Javascript:void(0)')
      i.fa.fa-angle-double-up
    // Tap To Top End

    include ../components/footerfile