doctype html
html(lang="en")
  include ../components/headerfile
  +headerfile('New Password')
  body

    // loader start
    +loader
    // loader end

    // header start       
    include ../components/header
    // header end

    // Breadcrumb Start
    +breadcrumb('login')
    // Breadcrumb end

    // Login Start
    section.space-py-100
      .container
        .row
          .col-12
            .codex-authbox
              .auth-header
                .auth-icon
                  i.fa.fa-unlock-alt
                h3 reset your password                 
                p You&apos;ve Successfully Verified Your Account. Enter 
                  br
                  |  New Passeord Below.
              form(action='#')
                .form-group
                  label.form-label(for='Password') New Password
                  .input-group.group-input
                    input.form-control.showhide-password(type='password' placeholder='Enter Your New Password' required='')
                    span.input-group-text.toggle-show.fa.fa-eye
                .form-group
                  label.form-label(for='Password') confirm password
                  .input-group.group-input
                    input.form-control.showhide-password(type='password' placeholder='Re Enter Your Password' required='')
                    span.input-group-text.toggle-show.fa.fa-eye
                .form-group.mb-0
                  button.btn.btn-primary(type='submit') Update Password

    // Login End

       
    // footer start       
    include ../components/footer
    // footer end

    // theme customizer start
    +customizer
    // theme customizer end

    // Tap To Top Start
    a.scroll-top(href='Javascript:void(0)')
      i.fa.fa-angle-double-up
    // Tap To Top End

    include ../components/footerfile