/*******************
 03 BUTTON START
********************/
.btn{
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 12px 25px;
    transition: all 0.5s ease;
	text-transform: capitalize;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50px;
    &.btn-sm{
		padding:8px 20px;
		font-size:14px;
	}
    &.btn-xs{
        padding: 5px 12px;
        font-size: 12px;
    }
    &:focus{
        box-shadow:none;
        outline:none;
    }
}

.btn-primary{
	color: $white;
	background-color: $theme-default !important;
	&:hover{		
		color: $white;
		background-color:$black;
	}
}
.btn-outline-primary{
    border: 1px solid $theme-default;
    color: $theme-default;
    &:hover{
        color: $white;
        background-color: $theme-default !important;
        border-color: $theme-default !important;
    }
}