footer.space-py-100
  .container
    .row.cdx-row
      .col-md-6.col-lg-4(data-sal-delay="100" data-sal="slide-up" data-sal-duration="800")
        .footer-grid
          .codex-brand
            a(href='Javascript:void(0)')
              img.img-fluid(src='../assets/images/logo/logo-light.png' alt='')
          p
            | At Yogwe, we make group workouts fun, daily food healthy &amp; tasty, mental fitness easy with yoga &amp; meditation, Medical &amp; lifestyle care hassle-free.
          ul.footer-contact
            li
              a(href='javascript:void(0);')
                i.fa.fa-map-marker(aria-hidden='true')
                | 29/C Mizza Road, Ukraine
            li
              a(href='tel:+38012365XXXXX')
                i.fa.fa-phone
                | +380 123 65X XXXX
            li
              a(href='mailto:support@example.com')
                i.fa.fa-envelope
                | info@example.com
      .col-md-6.col-lg-2(data-sal-delay="200" data-sal="slide-up" data-sal-duration="800")
        .footer-grid
          h4 Quick Links
          ul.footer-list
            li
              a(href='about-us.html')
                i.fa.fa-angle-right
                | About Us
            li
              a(href='team.html')
                i.fa.fa-angle-right
                | Our Team
            li
              a(href='terms.html')
                i.fa.fa-angle-right
                | Terms Of Service
            li
              a(href='privacy.html')
                i.fa.fa-angle-right
                | Privacy policy
            li
              a(href='Javascript:void(0)')
                i.fa.fa-angle-right
                | Our Services
            li
              a(href='blog.html')
                i.fa.fa-angle-right
                | Latest Blog
      .col-md-6.col-lg-2(data-sal-delay="300" data-sal="slide-up" data-sal-duration="800")
        .footer-grid
          h4 Support
          ul.footer-list
            li
              a(href='Javascript:void(0)')
                i.fa.fa-angle-right
                | Online Support
            li
              a(href='faq.html')
                i.fa.fa-angle-right
                | FAQ&apos;s
            li
              a(href='Javascript:void(0)')
                i.fa.fa-angle-right
                | Feedback
            li
              a(href='contact.html')
                i.fa.fa-angle-right
                | 24/7 Service
            li
              a(href='contact.html')
                i.fa.fa-angle-right
                | Make Call
            li
              a(href='contact.html')
                i.fa.fa-angle-right
                | Contact Support
      .col-md-6.col-lg-4(data-sal-delay="400" data-sal="slide-up" data-sal-duration="800")
        .footer-grid
          h4 Newsletter
          p Subscribe Our Newsletter To Get First Latest Update And News
          form(actio="#")
            .input-group
              input.form-control(type='email' placeholder='Your Email' required)
              span.input-group-text
                button.btn.btn-primary(type='submit')
                  i.fa.fa-paper-plane
                  | Subscribe
        .follow-us
          h6 Follow Us:
          ul.footer-social
            li
              a(href='javascript:void(0);')
                i.fa.fa-facebook-f
            li
              a(href='javascript:void(0);')
                i.fa.fa-instagram
            li
              a(href='javascript:void(0);')
                i.fa.fa-twitter
            li
              a(href='javascript:void(0);')
                i.fa.fa-linkedin
.subfooter
  .container
    .row
      .col-12
        .footer-contain
          p.wow.fadeInLeft
            | &copy; Copyright 
            a(href='javascript:void(0);') Yogwe
            |  All Rights Reserved.
          ul.menu-list.wow.fadeInRight
            li
              a(href='contact.html') Support
            li
              a(href='terms.html') Terms Of Services
            li
              a(href='privacy.html') Privacy Policy
