// Main jquery
script(src='../assets/js/jquery-3.6.0.min.js')
	
// Feather Js
script(src='../assets/js/feather.min.js')

// sal Js
script(src='../assets/js/sal.js')

// custom scrollbar Js
script(src='../assets/js/smooth-scroll.js')

if gallery
	// Fancybox Js
	script(src='../assets/js/fancybox.umd.js')
	// Mixitup Js
	script(src='../assets/js/mixitup.min.js')

if slickslider
	// Slick Sldier Js
	script(src='../assets/js/slick.min.js')
	script(src='../assets/js/slick-custom.js')

if imganimat
	// imganimat
	script(src='../assets/js/img-animat.js')

if counterdown
	// counter down js
	script(src='../assets/js/countdown.js')

// Bootstrap js
script(src='../assets/js/bootstrap.bundle.min.js')

// Custom js
script(src='../assets/js/script.js')
	