.top-header
  .container
    .row
      .col-md-8
        ul.header-list
          li
            a(href='javascript:void(0)')
              i.fa.fa-phone(aria-hidden='true')
              | +380 123 65X XXXX
          li
            a(href='mailto:info@example.com')
              i.fa.fa-envelope-o
              | info@example.com
      .col-md-4
        .header-right.text-end
          ul.header-list
            li
              a(href='Javascript:void(0)')
                i.fa.fa-clock-o(aria-hidden='true')
                | Sun - Sat (06AM - 09PM)
header
  .container
    .row
      .col-12
        .header-contain.position-relative
          .codex-brand
            a(href='index.html')
              img.img-fluid.light-logo(src='../assets/images/logo/logo.png' alt='')
              img.img-fluid.dark-logo(src='../assets/images/logo/logo-light.png' alt='')
          ul.menu-list
            li.menu-item
              a(href='index.html') home
            li.menu-item
              a(href='javascript:void(0);')
                | Classes
                i.fa.fa-angle-down(aria-hidden='true')
              ul.submenu-list
                li
                  a(href='classes.html') Classes
                li
                  a(href='class-detail.html') Class Details
                li
                  a(href='class-schedule.html') Class Schedule

            li.menu-item
              a(href='javascript:void(0);')
                | Gallery
                i.fa.fa-angle-down(aria-hidden='true')
              ul.submenu-list
                li
                  a(href='gallery.html') Gallery
                li
                  a(href='gallery-detail.html') Gallery detail

            li.menu-item
              a(href='javascript:void(0);')
                | Pages
                i.fa.fa-angle-down(aria-hidden='true')
              ul.submenu-list
                li
                  a(href='404.html') 404 Error
                li
                  a(href='about-us.html') About Us
                li
                  a(href='teacher-team.html') Team
                li
                  a(href='team-detail.html') Team Detail
                li
                  a(href='pricing-plan.html') Pricing Plan
                li
                  a(href='faq.html') Faq
                li.sub-menu-item
                  a(href='javascript:void(0);')
                    | Authentication
                    i.fa.fa-angle-right
                  ul.secodnmenu-list
                    li
                      a(href='login.html') login
                    li
                      a(href='register.html') register
                    li
                      a(href='forgot-password.html') forgot password
                    li
                      a(href='new-password.html') new password
                    li
                      a(href='verify-email.html') verify email
                    li
                      a(href='verify-pin.html') verify pin
                li
                  a(href='coming-soon.html') Coming Soon
                li
                  a(href='terms-service.html') Terms Of Service
                li
                  a(href='privacy-policy.html') Privacy Policy
            li.menu-item
                a(href='javascript:void(0);')
                  | Blog
                  i.fa.fa-angle-down(aria-hidden='true')
                ul.submenu-list
                  li
                    a(href='blog.html') Blog
                  li
                    a(href='blog-detail.html') Blog Detail
          .d-flex.align-items-center
            a.btn.btn-primary(href='contact.html') Join now
            a.menu-action(href='javascript:void(0);')
              span
.cdx-layer