// theme fonts
$font-roboto:'Roboto', sans-serif;
$font-jost:'Jost', sans-serif;
$font-awesome: 'FontAwesome';


// theme colors
$theme-default:#c70f0f;
$theme-wraning:#febf40;
$theme-border:#E5E5E5;
$font-light:#757f95;
$white:#ffffff;
$black:#000000;
$fb-color:#385196;


// dark mode colors
$dark-card: #240d0d;
$dark-body: #161616;
$dark-border: #363938;
$dark-font: #fdfdfd;
$dark-small-font:rgba($white,0.8);